---
title: Help Long Island City
layout: default
---

<main class="black-70 mh5-ns mh2-m mh2">
    <div class="f1 lh-title tc"><img src="header.png" /></div>
  <p class="f5 lh-copy tc">Support local businesses during the COVID-19 pandemic.</p>
  <p class="f7 lh-copy tc">
  <strong>Things are changing frequently – please follow each business on Instagram for their latest updates.</strong><br /> <a href="{{ site.contribute_link }}" target="_blank">Contribute corrections or additions here.</a>
  </p>
  <p class="f7 lh-copy tc">
    🌟&nbsp;Free meals for those in need at these locations 12-2pm through <a href="http://licrelief.org">LIC Relief</a>.
  </p>
  <p class="f7 lh-copy tc"> Questions about food safety?
    <a href="https://restaurant.org/Covid19">Food Safety and Coronavirus: Information and Resources</a></p>

  <div class="flex flex-wrap center">
    {% assign is_open = true %}
    {% for place in site.data.places.open %}
        {% include place.html %}
    {% endfor %}
  </div>

  <div class="flex flex-wrap center cf">
    <div class="w-100">
      <h1 class="f3 lh-copy ttu tc light-red">Temporarily closed 😢</h1>
    </div>
    {% assign is_open = false %}
    {% for place in site.data.places.closed %}
        {% include place.html %}
    {% endfor %}
  </div>
</main>

