
<!-- Global site tag (gtag.js) - Google Analytics -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ page.title }}</title>
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css" />
<link rel="stylesheet" href="styles.css" />

<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:title" content="A directory of local businesses and how to support them in this time of need" />
<meta property="og:description" content="Links and instructions for ordering pick-up and delivery, phone numbers, hours of operations, etc." />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:image" content="{{ site.url }}/header.png" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />

<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.gtag}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{site.gtag}}');
</script>

